<html lang="en">
    <head>
        <title>{{ .PickupSite }} ${{ .PageTitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="assets/styles.css">
    </head>
    <body>
        {{ template "templates/header" . }}

        <header>
            <a href="{{ .PickupSite }}?class=scout">Scout</a>
            <a href="{{ .PickupSite }}?class=soldier">Soldier</a>
            <a href="{{ .PickupSite }}?class=demoman">Demoman</a>
            <a href="{{ .PickupSite }}?class=medic">Medic</a>
        </header>
        {{ template "templates/ratings-table" . }}
    </body>
</html>
