<table class="ratings-table">
    {{ range $row := .Ratings }}
        <tr>
            <td class="position">
                {{ .Position }}
            </td>
            <td>
                <img alt="{{ $row.Name }}'s avatar" src="{{ $row.AvatarURL }}">
            </td>
            <td class="player-name placement-resize">
                <a class="player-link" href="https://steamcommunity.com/profiles/{{ $row.SteamID }}">{{ $row.Name }}</a>
            </td>
            <td class="rating">
                <div class="rating-value">{{ $row.Rating }}</div>
                <div class="games-count">
                    <div class="wins-count">
                        {{ .Winrate.Wins }}
                    </div>
                    /
                    <div class="ties-count">
                        {{ .Winrate.Ties }}
                    </div>
                    /
                    <div class="loss-count">
                        {{ .Winrate.Losses }}
                    </div>
                </div>
            </td>
        </tr>
    {{ end }}
</table>
