:root {
    --header-bg-color: #4d4d93;
    --body-bg-color: #282536;
    --link-on-hover-color: #4dffdb;
}

a {
    color: white;
    text-decoration-line: none;
}

a:hover {
    color: var(--link-on-hover-color);
}

body {
    font-family: sans-serif;
    color: white;
    background: var(--body-bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: 0.2em;
    width: 100%;
    background: var(--header-bg-color);
}

.pickup-site-header {
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
    align-items: center;
    background: var(--header-bg-color);
}

.pickup-site-header {
    width: 100%;
    background: var(--header-bg-color);
}

.pickup-site-header > h3 {
    margin: 0;
    padding: 0.5em 1em;
    background: var(--header-bg-color);
}

.pickup-site-header > a {
    padding: 0 2em;
    background: var(--header-bg-color);
}

header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 0.3em;
    font-size: 75%;
    background: var(--header-bg-color);
}

table {
    width: 40%;
}

tr {
    display: flex;
    margin: 0 0 0.5em;
    align-items: center;
}

img {
    padding: 0 0.5em;
}

tr:nth-of-type(1) > .placement-resize {
    font-size: xx-large;
}

tr:nth-of-type(2) > .placement-resize {
    font-size: x-large;
}

tr:nth-of-type(3) > .placement-resize {
    font-size: large;
}

tr > .position {
    display: flex;
    justify-content: center;
    min-width: 5%;
}

tr > .player-name {
    display: flex;
    overflow: hidden;
    flex-grow: 3;
}

.player-link {
    padding-right: 5px;
}

.rating {
    display: flex;
    min-width: 9ch;
    align-items: center;
    flex-direction: column;
}

.rating-value {
    font-size: larger;
}

.games-count {
    font-size: small;
    display: flex;
    flex-direction: row;
}

.games-count > div {
    padding: 0 0.3em;
}

.game-id {
    padding: 0.5em;
}

.game-map {
    display: flex;
    flex-grow: 1.5;
}

.game-result {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 0.5em;

    white-space: nowrap;
}

.timestamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5em;
}

.win-label {
    font-weight: bolder;
    padding-right: 2px;
    color: limegreen;
}

.tie-label {
    font-weight: bolder;
    padding-left: 2px;
    color: yellow;
}

.loss-label {
    font-weight: bolder;
    padding-left: 2px;
    color: red;
}

.results-footer {
    padding-bottom: 5%;
}